#header { color: #2371ab; font-size: 18pt; font-weight: bold; }
#date { font-size: 16pt; }
#addresses { margin-top: 20pt; font-size: 11pt; }
#products { margin-top: 10pt; border: 2px solid #2371ab; }
#totals { margin-top: 10pt; border: 2px solid #2371ab; }
#wireinfo { margin-top: 10pt; margin-left: 72pt; }
.name { font-weight: bold; color: #2371ab; }
.total { font-weight: bold; color: #2371ab; }
.headerrow { line-height: 150%; background-color: #2371ab; color: #FFFFFF; }
.bold { font-weight: bold; } 
.wireheader { font-weight: bold; text-align: left; }
th { padding: 2pt; font-weight: bold; text-align: center; }
td { padding: 2pt; }